table {
  border: 1px solid #000000;
  width: 100%;
}

.mat-cell .mat-row {
  border: 1px solid #000000;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}

